[user]
	name = Ivan Pavlov
[core]
	autocrlf = input
	safecrlf = false
	editor = vim
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[push]
  default = simple
[include]
  path = .gitconfig.local
